@use "src/styles/mixins.scss";

//needs revision
//no width and height
.copyright{
    background-color: var(--color-purple);
    color: var(--color-light-purple);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    div{
        background: white;
    }
    p{
        font-size: 1.2rem;
    }
    a{
        text-decoration: none;
    }
    
}

.socials{
    display: flex;
    .socials_right{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 15px;
        gap: 10px;
        p, a{
            background: white;
            color: var(--color-purple);
        }
    }
    .smicons{
        display: flex;
        gap: 32px;
        margin-top: 10px;
        img{
            background: white;
        }
    }
}

.phone, .email{
    display: flex;
    gap: 5px;
    align-items: center;
    img{
        background: white;
    }

}

.phoneAndEmail{
    margin-top: 20px;
    p{
        color: var(--color-purple);
        background: white;
    }
}

.phoneAndEmail, .logoAndSocials{
    display:flex;
    flex-direction: column;
    gap: 15px;

}

.sections{
    display: flex;
    gap: 70px;
    
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    p, a{
        background: white;
        color: var(--color-purple);
    }
}
