@use "src/styles/mixins.scss";
$purple: #3C257E;

.copyright{
    background-color: var(--color-purple);
    display: flex;
    align-items: center;
    padding: 20px 1061px 17px 40px;
    font-size: 1.125rem;
    p{
        color: var(--color-pale-gray);
    }

    @include mixins.phone{
        padding: 18px;
        text-align: center;
    }

    .bestBuddies{
        display: none;
        @include mixins.phone{
            display: inline;
            text-align: center;
        }
    }
}


.container{
    display: flex;
    align-items: center;
    // justify-content: space-between; //changed
    justify-content: center;
    background: white;
    // padding: 54px 92px 48px; //changed
    padding: 54px 117px 48px 117px;
    gap:104px;
    color: $purple;
    position: relative;
    
    a{
        text-decoration: none;
    }

    @include mixins.phone{
        flex-direction: column;
        //padding-left: 0px; //edited
    }
}

.socials{
    display: flex;
    .socialsRight{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 15px;
        p, a{
            color: $purple;
        }
        @include mixins.phone{
            display: none;
        }
    }
    //deviates
    .smicons{
        display: flex;
        gap: 32px;
        margin-top: 15px;
        margin-left: 5px;
    }
    
}

//individual div of logo and corresponding contact info
.phone, .email{
    display: flex;
    gap: 15px;
    align-items: center;
}

//container consisting of phone and email parts
.infoSection{
    // margin-top: 20px;
    p{
        color: $purple;
    }
}
.logoAndSocials{ //edited
    // margin-right: 104px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include mixins.phone{
        margin-right: 0px;
    }

}

.infoSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    @include mixins.phone{
        display: none;
    }
}

.sections{
    display: flex;
    gap: 60px;
    .home{
        @include mixins.phone{
            margin-top: 40px;
        }
    }
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include mixins.phone{
            align-items: center;
        }
    }
    p, a{
        color: $purple;
        width: fit-content;
    }
    @include mixins.phone{
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 40px;
    }
}

.contactFormLink, .desktopContact{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include mixins.phone{
        display: none;
    }
}

.mobileContact{
    display: none;
    @include mixins.phone{
        display: inline;
    }
}


