@use "src/styles/mixins.scss";
$purple: #3C257E;
//needs revision
//no width and height
//classname="" instead of {style.name} for global variables
.copyright{
    background-color: var(--color-purple);
    color: var(--color-light-purple);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 30px;
    color: $purple;
    
    a{
        text-decoration: none;
    }
    
}

.socials{
    display: flex;
    .socials_right{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 15px;
        p, a{
            background: white;
            color: $purple;
        }

    }
    .smicons{
        display: flex;
        gap: 32px;
        margin-top: 15px;
        margin-left: 5px;
    }
}

//individual div of logo and corresponding contact info
.phone, .email{
    display: flex;
    gap: 15px;
    align-items: center;
}

//container consisting of phone and email parts
.infoSection{
    margin-top: 20px;
    color: $purple;
}

.infoSection, .logoAndSocials{
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.infoSection,.socials_right{
    @include mixins.phone{
        display: none;
    }
}

.sections{
    display: flex;
    gap: 70px;
    
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    p, a{
        color: $purple;
    }
}
