.dropdown {
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: white;
  overflow: hidden;

  > a {
    padding: 24px;
  }

  > a:hover {
    background: var(--color-white);
    filter: brightness(0.95);
  }
}

.dropdownMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: 400;

  > a > button {
    color: var(--color-purple);
    font-weight: 400;
  }
}
