.dropdown{
    position: absolute;
    z-index: 1;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background:white;
    padding: 24px;
    //hide the white corners
    overflow: hidden;
    gap: 24px;
}
