.announcementsCard { 
    flex-grow: 1;

    display: flex;
    padding: 32px;
    flex-direction: column;
    align-content: stretch;

    gap: 8px;

    border-radius: 15px;
    background: var(--color-white);
    box-shadow: 0px 0px 44px 0px rgba(46, 25, 94, 0.80);

    // word-wrap: break-word; 
    // this didn't work. TODO: find way to wrap text for very long line (link)
}

.titleDateContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;

}