.announcementsCard { // is this a fixed aspect ratio or flex?
    flex-grow: 1;

    display: flex;
    padding: 32px;
    flex-direction: column;
    align-content: stretch;

    gap: 8px;

    border-radius: 15px;
    background: var(--color-white);
    box-shadow: 0px 0px 44px 0px rgba(46, 25, 94, 0.80);

    max-width: 41.39vw;
    overflow-wrap: break-word;
}

.titleDateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}