@use "src/styles/mixins.scss";

.announcementsCard { // is this a fixed aspect ratio or flex?
    flex-grow: 1;

    display: flex;
    padding: 32px;
    flex-direction: column;
    align-content: stretch;

    gap: 8px;

    border-radius: 15px;
    background: var(--color-white);
    box-shadow: 0px 0px 44px 0px rgba(46, 25, 94, 0.80);

    max-width: 50%;
    overflow-wrap: break-word;

    @include mixins.phone {
        max-width: 100%;
        width: 100%;
        padding: 16px 32px;

        h4 {
            font-size: 1.3125rem;
        }
        p {
            font-size: 1rem;
        }
        
    }

}

.titleDateContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    @include mixins.phone {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;

        p {
            font-size: 0.875rem;
        }
    }
}