@use "src/styles/mixins.scss";

.page {
  background-color: var(--color-light-gray);
  padding: var(--edge-spacer);

  @include mixins.phone {
    padding: 24px;
  }
}

.events_sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.imageContainerTop_mobile {
  display: none;

  @include mixins.phone {
    display: flex;
    position: relative;
    height: 42vh;
  }
}

.regional_state_title {
  color: #1b044e;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;

  @include mixins.phone {
    text-align: center;
    padding-top: 72px;
  }
}

.friendship_walk_section {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @include mixins.phone {
    flex-direction: column;
    gap: 22px;
  }
}

.friendship_walk_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.text_card {
  width: 50%;
  background-color: var(--color-white);
  padding: 56px 40px;
  border-radius: 15px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.02);

  @include mixins.phone {
    width: 100%;
    padding: 24px 16px;
    border-radius: 10px;
  }
}

.text_title {
  color: #1b044e;

  @include mixins.phone {
    text-align: center;
  }
}

.body-1,
.friendship_walk_section h2 {
  background-color: var(--color-white);
}

.imageContainerTop, .imageContainerLeft, .imageContainerRight, .imageContainerBottom {
  width: 50%;
  position: relative;

  @include mixins.phone {
    width: 100%;
  }
}

.imageContainerTop {
  @include mixins.phone {
    display: none;
  }
}

.imageContainerLeft {
  width: 40%;
  
  @include mixins.phone {
    height: 43vh;
    display: none;
  }
}

.imageContainerRight {
  width: 60%;

  @include mixins.phone {
    height: 43vh;
    width: 100%;
  }
}

.imageContainerLeft_mobile {
  display: none;

  @include mixins.phone {
    display: flex;
    position: relative;
    height: 42vh;
    border-bottom-left-radius: 0px;
  }
}

.imageContainerBottom {

  @include mixins.phone {
    height: 60vh;
    display: none;
  }
}

.imageContainerBottom_mobile {
  display: none;
  
  @include mixins.phone {
    display: flex;
    position: relative;
    height: 46vh;
  }
}

.eventImage {
  border-radius: 15px;

  @include mixins.phone {
    border-radius: 10px;
  }
}

.eventImage_mobile {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.two_imgs {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  gap: 24px;

  @include mixins.phone {
    margin-bottom: 0;
    height: 100%;
  }
}

.friendshipImgRight {
  width: 67%;
}

.third_fw_sac {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 100px;

  @include mixins.phone {
    flex-direction: column;
    gap: 0;
    margin-bottom: 48px;
  }
}

.third_walk_card,
.third_walk_card h2,
.third_walk_card {
  background-color: var(--color-white);
}

.third_walk_card {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 56px;
  border-radius: 15px;

  @include mixins.phone {
    width: 100%;
    margin-bottom: 22px;
    padding: 24px 16px;
    border-radius: 10px;
  }
}

.third_walk_join {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-purple);
  border-radius: 15px;

  @include mixins.phone {
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.register {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 56px;
}

.registerText {
  color: var(--color-white);
}

.join_body {
  color: white;
  padding: 40px;
}

.section_divider {
  background-color: #E2DDEB;
  height: 2px; 
  border: none;
  opacity: 75%;
}

.champion_of_the_year {
  margin-top: 100px;

  @include mixins.phone {
    margin-top: 48px;
  }
}

.champion_of_the_year > .text_card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;

  @include mixins.phone {
    flex-direction: column;
  }
}

.champion_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin: 16px 0;

  @include mixins.phone {
    width: 100%;
  }
}

.button_container {
  @include mixins.phone {
    text-align: center;
  }
}

.getInvolved {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.getInvolvedText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}