@import "../../mixins";

.page {
  background-color: var(--color-light-gray);
  padding: var(--edge-spacer);

  @include phone {
    padding: 24px;
  }
}

.friendship_walk_section,
.border_divider,
.champion_of_the_year {
  margin-bottom: 30px;
}

.imageContainer_mobile {
  display: none;

  @include phone {
    display: flex;
    position: relative;
    height: 42vh;
  }
}

.regional_state_title {
  color: #1b044e;
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 72px;

  @include phone {
    text-align: center;
    padding-top: 72px;
  }
}

.friendship_walk_section {
  display: flex;
  flex-direction: row;
  gap: 24px;

  @include phone {
    flex-direction: column;
  }
}

.friendship_walk_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.text_card {
  width: 50%;
  background-color: var(--color-white);
  padding: 80px 60px;
  border-radius: 15px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.02);

  @include phone {
    width: 100%;
    padding: 40px 30px;
  }
}

.text_title {
  color: #1b044e;

  @include phone {
    text-align: center;
  }
}

.body-1,
.friendship_walk_section h2 {
  background-color: var(--color-white);
}

.imageContainer, .imageContainer1, .imageContainer2, .imageContainer3 {
  width: 50%;
  position: relative;

  @include phone {
    width: 100%;
  }
}

.imageContainer {
  @include phone {
    display: none;
  }
}

.imageContainer1 {
  width: 40%;
  
  @include phone {
    height: 43vh;
  }
}

.imageContainer2 {
  width: 60%;

  @include phone {
    height: 43vh;
  }
}

.imageContainer2_mobile {
  display: none;

  @include phone {
    display: flex;
    position: relative;
    height: 56vh;
    border-bottom-left-radius: 0px;
  }
}

.imageContainer3 {

  @include phone {
    height: 60vh;
    display: none;
  }
}

.imageContainer3_mobile {
  display: none;
  
  @include phone {
    display: flex;
    position: relative;
    height: 56vh;
  }
}

.eventImage {
  border-radius: 16px;
}

.eventImage2_mobile {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.two_imgs {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  gap: 24px;
  margin-bottom: 30px;

  @include phone {
    margin-bottom: 0;
  }
}

.two_imgs > .imageContainer1 {
  @include phone {
    display: none;
  }
}

.two_imgs > .imageContainer2 {
  @include phone {
    width: 100%;
  }
}

.friendshipImg2 {
  width: 33%;
}

.friendshipImg3 {
  width: 67%;
}

.third_fw_sac {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 202px;

  @include phone {
    flex-direction: column;
    gap: 0;
  }
}

.third_walk_card,
.third_walk_card h2,
.third_walk_card {
  background-color: var(--color-white);
}

.third_walk_card {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 56px;
  border-radius: 16px;
  margin-bottom: 16px;

  @include phone {
    width: 100%;

  }
}

.third_walk_join {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-purple);
  border-radius: 16px;

  @include phone {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.register {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 40px 56px;
}

.registerText {
  color: var(--color-white);
}

.join_body {
  color: white;
  padding: 40px;
}

.champion_of_the_year > .text_card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;

  @include phone {
    flex-direction: column;
  }
}

.champion_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  margin: 16px 0;

  @include phone {
    width: 100%;
  }
}

.get_involved_button {
  @include phone {
    width: 60px;
    align-items: center;
    justify-content: center;
  }
}

.getInvolved {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.getInvolvedText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@mixin phone {
  @media screen and (max-width: 720px) {
    @content;
  }
}