.page {
  
}

.regional_state_title {
  font-size: 4em;
}

.friendship_walk_card {
  display: flex;
}

.friendship_walk_title {
  font-size:1em;
}

.friendship_walk {
  
}

.image_block {
  width: 100%;
  height: 200px;
  color: gray;
}
