/* note to self: 
    justify-content: children along main axis (horizontal if flex direction is horizontal)
    align-items: children along secondary axis (vertical if flex direction is horizontal)
    justify-self: change alignment along secondary axis of the child itself
    align-self: change alignment along secondary axis of the child itself
*/

// 1 rem = 16px

.body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 46px 112px 88px 112px;
    background-color: var(--color-light-gray);
    gap: 88px;

    > p {
        font-size: 1.1875rem;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    text-align: center;
}

.heroHeaders {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    p { // BEST BUDDIES AT UC DAVIS
        color: var(--color-purple);
    }
    h1 { // Friendships that matter.
        color: var(--color-dark-purple);
        font-size: 4.5rem;
        line-height: 120%; 
    }
    h5 { // Fostering social and economic inclusion for individuals with disabilities. 
        color: var(--font-secondary);

        font-size: 1.6875rem;
        font-weight: 400;
        line-height: 120%; 
    }
}

.heroText {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heroVideo {
    flex-shrink: 0;
    border-radius: 10px;
    //height: 656px;
    aspect-ratio: 1.85;
}

.mission {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex-shrink: 0;
    border-radius: 15px;
    background: white;

    h1 {
        color: var(--color-dark-purple);
    }
    .purpleHighlight {
        color: var(--color-dark-purple);
    }
}

.missionText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 75%;
}

.featuredEvents {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
        color: var(--color-dark-purple);
    }
}

.eventCarousel {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
}

.announcements {
    margin: 0 -122px 0 -122px; // negative margin because body has padding this needs to override

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 71.5px 112px;
    
    background-color: var(--color-purple);
    h2 {
        text-align: flex-start;
        color: white;
    }
}

.headerIconContainer { 
    // the height of the text includes space for tails, unlike how the boxes for text on figma includes only the space actually used by the letters
    // this makes these icons look like they're not aligned with the verticality of the text.
    // TODO: ask for help on this

    display: flex;
    gap: 16px;

    align-items: center;
}

.announcementCardContainer {
    display: flex;
    flex-direction: horizontal;
    gap: 24px;
}

.memberSpotlight {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    //gap: 136px;
    gap: calc(17/180)*100vw;
}

.memberSpotlightText {
    display: flex;
    flex-direction: column;
    gap: 40px;


    h2 { // Member Spotlight
        color: var(--color-dark-purple);
    }
    h3 { // John Doe
        color: #222; // #222 on figma (TODO: get this color into globals)
        line-height: 120%;
    }
}

.memberSpotlightDescription {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: calc(1/3)*100vw;
}


.memberSpotlightImage { 
    border-radius: 15px;
    background: #D9D9D9;
    aspect-ratio: 1.215;
    max-width: calc(5/12)*100vw;
    flex-grow: 1;
}