/* note to self: 
    justify-content: children along main axis (horizontal if flex direction is horizontal)
    align-content: children along secondary axis (vertical if flex direction is horizontal)
    justify-self: change alignment along secondary axis of the child itself
    align-self: change alignment along secondary axis of the child itself
*/

// 1 rem = 16px

// light gray bg color is #F8F8F9 on figma but is #ededed in globals?

.body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 122px 0 122px;
    background-color: var(--color-light-gray);

    > p {
        font-size: 1.1875rem;
    }
}

.hero {
    margin: 46px 0 46px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
    .subheading { // BEST BUDDIES AT UC DAVIS
        color: pink;
    }
    h1 { // Friendships that matter.
        color: var(--color-dark-purple);
        font-size: 4.5rem;
        line-height: 120%; 
    }
    h5 { // Fostering social and economic inclusion for individuals with disabilities. 
        color: var(--font-secondary);

        font-size: 1.6875rem;
        font-weight: 400;
        line-height: 120%; 
    }
}

.heroText {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heroButton {
    width: 152px;
}

.heroVideo {
    align-self: center;
    
    padding: 100px;
    margin: 1rem;
    background-color: var(--color-purple);
    color: white;
}

.mission {
    margin-top: 100px;

    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 15px;
    background: white;

    h1 {
        color: var(--color-dark-purple);
    }
    .purpleHighlight {
        color: var(--color-dark-purple);
    }
}

.featuredEvents {
    margin: 165px 0 166px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
        color: var(--color-dark-purple);
        text-align: center;
    }
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}

.announcements {
    margin: 0 -122px 0 -122px; // negative margin because body has padding this needs to override

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 65px 114px 105px 110px;
    
    background-color: var(--color-purple);
    h2 {
        text-align: start;
        color: white;
    }
}

.headerIconContainer { 
    // the height of the text includes space for tails, unlike how the boxes for text on figma includes only the space actually used by the letters
    // this makes these icons look like they're not aligned with the verticality of the text.
    // TODO: ask for help on this

    display: flex;
    gap: 16px;

    align-items: center;
}

.announcementCardContainer {
    display: flex;
    flex-direction: horizontal;
    gap: 24px;
    
    padding: 10px;
}

.announcementsCard { // TEMPORARY STYLING i need to make a component for this!!!!
    flex-grow: 1;

    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 44px 0px rgba(46, 25, 94, 0.80);
}

.memberSpotlight {
    margin: 188px 0 91px 0;
    display: flex;
    flex-direction: row;
    gap: 136px;
}

.memberSpotlightText {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 { // Member Spotlight
        color: var(--color-dark-purple);
    }
    h3 { // John Doe
        color: var(--font-primary); // #222 on figma (TODO: get this color into globals)
        line-height: 120%;
    }
}

.memberSpotlightDescription {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.memberSpotlightImage {
    padding: 200px;
    border-radius: 15px;
    background: #D9D9D9;
}