.button {
    padding-top: 0.75rem;
    padding-right: 1.5rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;

    border-radius: 70px;
    border-width: 0;
    background-color: var(--color-yellow);

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
}

.buttonLink {
    background-color: transparent;
}