.button {
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 70px;

    border-width: 0;
    background-color: var(--color-yellow);

    color: var(--color-font-primary);

    font-size: 1rem;
    font-weight: 700;
    line-height: 140%;
}

.buttonLink {
    background-color: transparent;
}