.youtubeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.youtubeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 8px 0 8px;
  background-color: var(--font-white);
  border-radius: 15px;
  box-shadow: 0px 5px 50px 0px rgba(228, 225, 231, 0.4);
  border: 1px solid rgba(128, 126, 131, 0.4);
}

.vid {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.videoContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 24px;
}

.videoMetaInfo {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  gap: 4px;
}

.trademark {
  display: flex;
  align-items: center;
  gap: 8px;
}
