.failed_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.confirmation_modal_backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation_modal_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
    background-color: white;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
    padding: 48px 24px;
}

.ok_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.ok_circle {
    width: 60px;
    aspect-ratio: 60px;
    position: relative;
    background-color: var(--color-teal);
    padding: 16px;
    border-radius: 50%;
    >* {
        transform: translateY(10%);
    }
    margin-bottom: 28px;
}

.ok_header {
    color: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.ok_text {
    font-size: 1rem;
    font-weight: 400;
}

.x_button {
    border: none;
    background: none;
    width: 24px;
    aspect-ratio: 1;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    >div {
        height: 100%;
        width: 100%;
        position: relative;
    }
}

.loading_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid var(--color-teal);
    /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}