.body{
   background-color: var(--color-light-gray);
   display: flex;
   flex-direction: column;
   align-items: center;

   //.cards{
    //display: flex;
    //flex-direction: column;
    //align-items: center;
    //justify-content: center;
    //gap: 64px;
   //}

   .friendships, .intergratedEmployment, .leadershipDevelopment, .inclusiveLiving{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

}