@use "src/styles/mixins.scss";

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroContainer {
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  aspect-ratio: 1;
  position: relative;

  @include mixins.phone {
    height: 50vh;
  }

  @include mixins.sm-phone {
    height: 33vh;
  }
}

.heroImg {
  object-fit: cover;
  object-position: center;
}

.heroText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(153, 236, 222, 0.33) 50%,
      rgba(153, 236, 222, 0.33) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  h1 {
    display: flex;
    font-size: 4.5rem;
    color: var(--color-white);
    text-align: center;
    justify-content: center;

    @include mixins.phone {
      font-size: 3rem;
    }

    @include mixins.sm-phone {
      font-size: 2.25rem;
    }
  }
}

.heroSubHeading {
  font-size: 4.5rem;
  display: flex;
  color: var(--color-white);
  text-align: center;
  justify-content: center;

  @include mixins.phone {
    font-size: 2rem;
  }

  @include mixins.sm-phone {
    font-size: 1.25rem;
  }
}

.pillars {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 120px;
  padding: 83px 215px 0 215px;

  @include mixins.tablet {
    padding: 83px 96px 189px 96px;
  }

  @include mixins.phone {
    padding: 83px 16px 189px 16px;
  }
}

.pillarsContainer {
  width: 100%;
}

.pillarsCards {
  display: flex;
  flex-direction: column;
  gap: 120px;

  @include mixins.phone {
    gap: 64px;
  }
}

.card {
  display: flex;
  gap: 64px;

  @include mixins.phone {
    // background-color: var(--color-light-gray);
    gap: 16px;
  }
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;

  @include mixins.tablet {
    width: 100%;
  }
}

.cardImg {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  @include mixins.tablet {
    border-radius: 15px;
  }
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 28px;

  @include mixins.tablet {
    width: 100%;
  }

  @include mixins.phone {
    gap: 16px;
  }
}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include mixins.tablet {
    justify-content: center;
  }
}

.cardDesc {
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 34px;

  @include mixins.tablet {
    padding: 24px 16px;
  }
}

.learnMoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 83px 0 83px 0;

  @include mixins.tablet {
    display: none;
    padding: 0;
  }
}

.learnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: var(--color-white);
  border-radius: 20px;
  padding: 40px 48px;
}

.learnMoreText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.imgLeft {
  flex-direction: row;

  @include mixins.tablet {
    flex-direction: column;
  }
}

.imgRight {
  flex-direction: row-reverse;

  @include mixins.tablet {
    flex-direction: column;
  }
}

.learnMoreButton {
  justify-content: center;
  align-items: center;
  border-radius: 70px;

  border: none;
  background-color: var(--color-yellow);

  color: var(--color-font-primary);

  font-weight: 700;
  line-height: 140%;

  padding: 12px 24px;
  font-size: 1.125rem;

  @include mixins.phone {
    padding: 12px 22px;
    font-size: 1rem;
  }
}

.learnMoreButton:hover {
  filter: brightness(0.9);
}
