.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 64px;
}

.buddies, .associateMembers, .chapterEvents, .buddyPair{

}