.currentMembersContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 65px;
    padding-bottom: 94px;
}

.currentMembersTitle {
    font-size: 56px;
    color: #1B044E;
    font-weight: bold;
    margin-bottom: 50px;
}

.renewalBox {
    width: 878px;
    height: 327px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
    align-items: flex-start;
}

.renewalTitle {
    color: #1B044E;
    font-size: 30px; 
    background-color: white;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
}
    
.p {
    color: #404447;
    font-size: 18px; 
    background-color: white;
    text-align: left;
}
    
.renewalBoxContent {
    color: #404447;
    background-color: white;
    text-align: left;
    align-self: stretch;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    line-height: 2;
}

.renewalButton {
    display: flex;
    height: 27px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    font-size: 18px; 
    font-weight: bold;
    color: #5A3F98;
    text-align: left;
    background-color: white;
    border: none;
    margin-top: 48px;
}

.videoBox {
    width: 878px;
    height: 395px;
    flex-shrink: 0;
}

.friendUpdatesBox {
    width: 878px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.friendUpdatesTitle {
    color: #1B044E;
    font-size: 30px; 
    justify-content: left; 
    text-align: left;
    font-weight: bold;
    margin-top: 65px;
}

.friendUpdatesContent {
    color: #404447;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.friendUpdatesButton {
    display: flex;
    height: 27px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    font-size: 18px; 
    font-weight: bold;
    color: #5A3F98;
    text-align: left;
    background-color: white;
    border: none;
    margin-top: 48px;
}

.latestNewsBox {
    width: 878px;
    height: 196px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

.latestNewsTitle {
    color: #1B044E;
    font-size: 30px; 
    justify-content: left; 
    text-align: left;
    font-weight: bold;
    margin-top: 65px;
}

.latestNewsContent {
    color: #404447;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-family: "Helvetica Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.latestNewsButton {
    display: flex;
    height: 27px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    font-size: 18px; 
    font-weight: bold;
    color: #5A3F98;
    text-align: left;
    border: none;
}

.prevNewsBox { 
    width: 878px;
    height: 196px;
    display: flex;
    align-items: flex-start;
    gap: 36px;
    .newsletterImg{
        border-radius: 15px;
    }
  
}
