@use 'src/styles/mixins.scss';

.currentMembersContainer {
    background: var(--color-light-gray);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding-top: 81px;
    padding-bottom: 94px;
    gap: 65px;

    @include mixins.phone {
        padding-left: 25px;
        padding-right: 25px;
        gap: 64px;
    }
}

.currentMembersTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-size: 56px;
    color: var(--color-dark-purple);
    font-weight: bold;
}

.renewalBox {
    align-self: center; 
    max-width: 878px;
    background-color: var(--color-white);
    border-radius: 15px;
    padding: 25px 32px;

    @include mixins.phone {
        padding: 40px 22px;
    }
}

.renewalTitle {
    color: var(--color-dark-purple);
    font-size: 30px; 
    background-color: var(--color-white);
    text-align: left;
    font-weight: bold;
    margin-bottom: 24px;

    @include mixins.phone {
        text-align: center;
        margin-bottom: 16px;
    }
}

.renewalBoxContent {
    color: var(--font-secondary);
    background-color: var(--color-white);
    text-align: left;
    align-self: stretch;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 48px;
    
    @include mixins.phone {
        font-size: 16px;
        font-style: normal;
        padding-bottom: 32px;
    }
}

.link, .currentMonthLink {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 18px; 
    font-weight: bold;
    color: var(--color-purple);
    text-decoration: none;

    @include mixins.phone {
        justify-content: center;
    }
}

.friendUpdatesBox, .latestNewsBox {
    align-self: center; 
    max-width: 878px;
    display: flex;
    flex-direction: column;
    @include mixins.phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.subPageTitle {
    color: var(--color-dark-purple);
    font-size: 30px; 
    text-align: left;
    font-weight: bold;
    margin-bottom: 24px;

    @include mixins.phone {
        text-align: center;
        margin-bottom: 16px;
    }
}

.subPageContent {
    color: var(--font-secondary);
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 48px;
    @include mixins.phone{
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }
}

.newsletterImg{
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    object-position: top;

    @include mixins.phone{
        width: 312px;
        height: 406px;
    }
}

.prevNewsBox { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    @include mixins.phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}
.currentMonthLink{
    @include mixins.phone{
        display: none;
    }
}

.prevNewsImgContainer {
    display: flex;
    align-items: flex-start;
    gap: 36px;

    @include mixins.phone{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding-top: 8px;
    }
}

.pastNewsColBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    @include mixins.phone{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}
.pastNewsTitle{
    font-size: 18px;
}
.prevNewsLinksContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @include mixins.phone {
        display: flex;
        width: 361px;
        height: 25px;
        // padding: 0px 70px 0px 86px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-shrink: 0;
    }
}