@use 'src/styles/mixins';

.Body{
    background-color: var(--color-light-gray);

    // @include mixins.sm-phone{ //ask
    //     // display: flex;
    //     // flex-direction: column;
    //     align-items: center;
    // }
}


//intro
.introContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;

    @include mixins.sm-phone{
        margin-top: 53px;
    }
    

    h1{
        color: var(--color-dark-purple);
        margin-bottom: 24px;


        @include mixins.phone{
            font-size: 3rem;
            margin-bottom: 26px;
        }

        @include mixins.sm-phone{
            font-size: 2.25rem;
            margin-bottom: 28px;
        }
    }

    p{
        width: 753px;
        height: 54px;
        font-size: 1.125rem;
        // font-weight: 400;
        line-height: 112.5%;
        text-align: center;
        color: var(--font-secondary);


        @include mixins.phone{
            font-size: 1.05rem;
            line-height: 130%;
            width: 500px;
            height: 85px;
        }

        @include mixins.sm-phone{
            font-size: 1rem;
            line-height: 150%;
            width: 347px;
            height: 95px;
        }
    }
}


//who can join
.whoContainer{
    // height: 513px;
    margin-top: 105px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;




    img{
        border-radius: 10px;
    }

    
        
    h2{
        color: var(--color-dark-purple);
        //font-weight: 700;
        text-align: left;
        width: 592px;

        p{  
            margin-top: 24px;
            font-size: 1.125rem; //change to rem
            font-weight: 400;
            line-height: 27px;
            //letter-spacing: 0em;
            text-align: left;
        }
    }

}


.howContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;

    h2{
        color: var(--color-dark-purple);  //ask about font color
        //font-weight: 700;
        //letter-spacing: 0em;
        text-align: left;
    }
}