@use 'src/styles/mixins';

.Body{ 
    background-color: var(--color-light-gray);

    // @include mixins.sm-phone{ //ask
    //     // display: flex;
    //     // flex-direction: column;
    //     align-items: center;
    // }
}


//intro
.introContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;

    @include mixins.sm-phone{
        margin-top: 53px;
    }
    

    h1{
        color: var(--color-dark-purple);
        margin-bottom: 24px;


        @include mixins.phone{
            font-size: 3rem;
            margin-bottom: 26px;
        }

        @include mixins.sm-phone{
            font-size: 2.25rem;
            margin-bottom: 28px;
        }
    }

    p{
        width: 753px;
        height: 54px;
        font-size: 1.125rem;
        // font-weight: 400;
        line-height: 112.5%;
        text-align: center;
        color: var(--font-secondary);


        @include mixins.phone{
            font-size: 1.05rem;
            line-height: 130%;
            width: 500px;
            height: 85px;
        }

        @include mixins.sm-phone{
            font-size: 1rem;
            line-height: 150%;
            width: 347px;
            height: 95px;
        }
    }
}


//who can join
.whoContainer{
    // height: 513px;
    margin-top: 105px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;



    .newMemHeroImg{
        border-radius: 10px;
    }

    
        
    h2{
        color: var(--color-dark-purple);
        //font-weight: 700;
        text-align: left;
        width: 592px;

        p{  
            margin-top: 24px;
            font-size: 1.125rem; //change to rem
            font-weight: 400;
            line-height: 27px;
            //letter-spacing: 0em;
            text-align: left;
        }
    }

}



.howContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;

    h2{
        color: var(--color-dark-purple);
        //font-weight: 700;
        //letter-spacing: 0em;
        text-align: left;
        margin-bottom: 54px;
    }
    
    .cardContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .card{
        font-family: "Helvetica Neue";
        background-color: #FFF;
        display: flex;
        max-width: 394px;
        height: 442px;
        flex: 1;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 15px;
        box-shadow: 0px 5px 50px 0px rgba(228, 225, 231, 0.40);


        .textFrameInt{
            background-color: #FFF;
            margin-top: 7px;
            max-width: 314px;
            height: 222px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            h3{
                margin-top: 103px; //change to 48px later
                align-items: flex-start;
                background-color: #FFF;
                color: var(--color-dark-purple);
                line-height: 120%;
                font-weight: 700;
                font-size: 1.6875rem;
            }

            p{
                background-color: #FFF;
                margin-top: 40px;
                color: var(--font-secondary);
                line-height: 150%;
                font-weight: 400;
                font-size: 1.125rem;
            }
        }

        .textFrame{
            background-color: #FFF;
            margin-top: 7px;
            max-width: 314px;
            height: 249px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3{
                margin-top: 103px; //change to 48px later
                align-items: flex-start;
                background-color: #FFF;
                color: var(--color-dark-purple);
                line-height: 120%;
                font-weight: 700;
                font-size: 1.6875rem;
            }

            p{
                background-color: #FFF;
                margin-top: 40px;
                color: var(--font-secondary);
                line-height: 150%;
                font-weight: 400;
                font-size: 1.125rem;
            }
        }
        

        .interestLink{
            margin-top: 72px;
            background-color: #FFF;
            color: var(--color-purple);
            font-size: 1.125rem;
            font-weight: 700;
        }

        .appLink{
            margin-top: 45px;
            background-color: #FFF;
            color: var(--color-purple);
            font-size: 1.125rem;
            font-weight: 700;
        }
    }
}

