$primary-900: #1B044E;
$text-secondary-gray: #404447;

.card {
    display: flex;
    max-width: 384px;
    flex: 1; 
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    .image {
      height: 240px;
      border-radius: 10px;
      background: center / cover no-repeat;
    }

    .titleDateContainer {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .eventInfo {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    h4 {
      color: var(--color-dark-purple);
      line-height: 120%;
    }
    p {
      color: var(--font-secondary);
    }
    .titleDateContainer p {
      color: var(--font-gray);
    }
  }
  