.card {
  display: flex;
  max-width: 384px;
  flex: 1; 
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .image {
    height: 240px;
    border-radius: 10px;
    background: center / cover no-repeat;
  }

  .cardTitle {
    color: $font-primary;
    font-size: 1.5rem; 
    font-weight: 700;
    line-height: 120%;
  }

  .cardSubtitle {
    color: $font-gray;
    font-size: 1.125rem; 
    font-weight: 400;
    line-height: 150%;
  }

  .cardDescription {
    color: $font-secondary;
    font-size: 1.125rem; 
    font-weight: 400;
    line-height: 150%;
    flex-grow: 1;
  }
}